.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  background: white;
  width: 100%;
  max-width: var(--max-width);
  background-image: url("../../public/logo-invertido-512.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.test {
  width: 100%;
  
}

@media screen and (min-width: 500px) {
  .main {
    min-width: 500px;
  }
}
